.list {
  list-style-type: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
}